/**
 This file contains generic styles for blank, "unstyled" elements. This is where the true feeling of the "theme" is realised.
 */

blockquote {
    background: var(--background-02);
    border-left: 0.5em solid var(--background-03);

    padding: var(--spacing-m) var(--spacing-l);

    border-radius: 0.5em;

    margin: 0;
}

blockquote.success {
    border-color: var(--green-solid);
    background-color: var(--green);

    color: var(--foreground);
}

blockquote.warning {
    border-color: var(--orange-solid);
    background-color: var(--orange);

    color: var(--foreground);
}

blockquote.error {
    border-color: var(--red-solid);
    background-color: var(--red);

    color: var(--foreground);
}

blockquote.info {
    border-color: var(--blue-solid);
    background-color: var(--blue);

    color: var(--foreground);
}

blockquote:is(.success, .warning, .error, .info):before {
    vertical-align: sub;
    margin-inline: var(--spacing-s);
}


svg {
    width: 100%;
    height: 100%;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--accent-solid);
}

hr {
    width: 100%;
    align-self: stretch;
    border: none;
    border-top: var(--border-dull);
}

[data-icon]:before {
    content: attr(data-icon);
    font: var(--icon);
}

[data-icon-after]:after {
    content: attr(data-icon-after);
    font: var(--icon);
}
