@import url('./theme.css');
@import url('./button.css');
@import url('./textedit.css');
@import url('./notification.css');
@import url('./modal.css');
@import url('./generic.css');
@import url('./table.css');
@import url('./tabs.css');
@import url('./checkbox.css');
@import url('./misc.css');
@import url('./file-picker.css');
@import url('./mobile.css');

/**
The main.css file contains the rough layout for the entire app. Here is where positions of very major parts of the app are defined
 */

:root, body, #root, #app {
    background: var(--background);
    color: var(--foreground);

    font: var(--font-m);

    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;

    max-width: 100vw;
    max-height: 100vh;

    overscroll-behavior: contain;

    position: relative;
}

#app {
    display: grid;

    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);

    grid-template-areas:
        "header header header"
        "list   main   main"
        "footer footer footer";
}

#app > #header { grid-area: header; }
#app > #main { grid-area: main; }
#app > #footer { grid-area: footer; }

#header {
    display: grid;

    grid-template-columns: subgrid;
    grid-template-rows: subgrid;

    grid-template-areas:
        "logo header profile";

    align-items: center;

    padding: var(--spacing-m) var(--spacing-l);

    grid-gap: var(--spacing-l);

    border: var(--border-dull);
    box-shadow: var(--shadow-m);

    margin: var(--spacing-l);

    border-radius: var(--radius-l);
}

#logo {
    grid-area: logo;
    /*max-height: var(--element-xxs);*/
    max-height: var(--font-size-xxl);
    max-width: var(--element-s);
}

#main {
    display: grid;

    grid-template-rows: subgrid;
    grid-template-columns: subgrid;

    grid-template-areas:
        "pad-l form form pad-r";
}

#footer {
    text-align: center;
    font: var(--font-xs);
    color: var(--foreground-02);
}

#main > form {
    height: fit-content;
}