/**
Small Bootstrap-like utility structures that produce unique elements.
 */

span.capsule {
    display: inline;
    padding: 0 var(--spacing-s);
    border-radius: var(--radius-s);

    font-size: var(--font-size-xs);
    text-decoration: none;

    margin-inline: var(--spacing-xs);

    background: var(--background-03);
    color: var(--foreground-03);
}