localhost {
    root * /var/www

    # Check for help articles
    @help {
          path /help/*
          header Accept *application/json*
    }

    handle @help {
        file_server browse
    }

    # Check for help articles
    @help_articles {
          path /help/*
          header Accept *text/markdown*
    }

    handle @help_articles {
        file_server browse
    }

    # API routes
    handle_path /api/* {
        reverse_proxy api:9999
    }

    # Everything else: static + SPA fallback
    handle {
        @notAPI {
            not path /api/*
        }

        handle @notAPI {
            try_files {path} /
            file_server
        }
    }

    tls internal
}
